
/* #region Common */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* #endregion */

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-navigation{
    display: flex;
}

.navigation-list{
    display: flex;
    align-items: center;
}

.logo-left{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;

    margin-right: 76px;
}

.logo-right{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
}

.menu-list{
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.navigation-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #2E2F42;

    padding: 24px 0;
    display: block;
}

.navigation-link:hover,
.navigation-link:focus{
    color:#404bbf;
}

.navigation-link{
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link.active{
    color: #404bbf;
}

.navigation-link.active::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;

    position: absolute;
    left: 0;
    bottom: -1px;
}

.address{
    font-style: normal;
}

.adress-list{
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-link:hover,
.address-link:focus{
    color: #404bbf;
}
.main-page{
    background-color: #2E2F42;
    background-image: linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
   
    max-width: 1440px;
    margin: 0 auto;
}

.main-page-header{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;

    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-page-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;

    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-button:hover,
.main-page-button:focus{
    background-color: #404BBF;
}


/* #region Our Benefits */
.section-benefits {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4)
}

.benefits-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}

.benefits-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}

.benefits-descr {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion */

/* #region Team */
.team {
    background-color: #F4F4FD;

    padding: 120px 0;
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;

    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-about {
    padding: 32px 0;
}

.team-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;

    text-align: center;
    margin-bottom: 8px;
}

.team-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

    text-align: center;
}

.team-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin-top: 8px;

}

.team-socials-item{
    width: 40px;
    height: 40px;

}

.team-socials-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .team-socials-link:hover,
.team .team-socials-link:focus{
    background-color: #404BBF;
}

.team-socials-icon{
    fill: #f4f4fd;
}

/* #endregion */

/* #region Our Portfolio */
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background-color: #FFFFFF;

    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-thumb{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    inset: 0;
    transform: translateY(100%);



    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay{
    transform: translateY(0);
}

.app-about {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

    margin-bottom: 8px;
}

.portfolio-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */

/* #region Footer */
.page-bottom {
    background-color: #2e2f42;

    padding: 100px 0;
}

.footer-wrapper{
    margin-right: 120px;
}

.bottom-info{
    display: flex;
    align-items: baseline;
}

.logo-left-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;

    display: inline-block;
    margin-bottom: 16px;
}

.logo-right-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #F4F4FD;
}

.cta-bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    max-width: 264px;
}


.page-bottom .team-socials-link:hover,
.page-bottom .team-socials-link:focus{
background-color: #31D0AA;
}


.bottom-socials-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.bottom-socials .team-socials{
    gap: 16px;
}

.footer-send {
    outline: solid red;
    margin-left: 80px;
}

.footer-send-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-send-wrapper {
    display: inline-flex;
    align-items: flex-start;
}

.footer-send-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px;
}

.footer-send-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: inherit;
    margin-right: 24px;
}

.footer-send-btn {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-color: transparent;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}

.footer-send-icon {}

/* #endregion */

/* #region Modal window */

.backdrop {
    position: fixed;
    inset: 0;
    z-index: 2;
    background-color: rgb(46 47 66 / 40%);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;

    padding: 24px;
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    border-radius: 100%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ?одночасна зміна філл при ховері? */

.modal-btn:hover,
.modal-btn:focus{
    background-color: #404BBF;
}

.modal-btn-icon {
    fill: #2E2F42;
}

.modal-btn-icon:hover,
.modal-btn-icon:focus{
    fill: #FFFFFF;
}

.modal-slogan{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;

    margin-bottom: 16px;
}

/* Form */

.modal-form-wrapper {
    margin-bottom: 18px;
}

.modal-form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.modal-form-field {
    position: relative;
}

.modal-form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 38px; ;
    border: 1px solid rgb(46 47 66 / 40%);
    border-radius: 4px;
    outline: none;
}

.modal-form-input:focus{
    border-color: #4D5AE5;
}

.modal-form-input:focus + .modal-form-icon{
    fill: #4D5AE5;
}

.modal-form-icon {
    fill: #2E2F42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}



.modal-form-message{
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgb(46 47 66 / 40%);
    border-radius: 4px;
    padding: 8px 16px;
    outline: none;
}

.modal-form-message:focus{
    border-color: #4D5AE5;
}

.modal-form-message::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgb(46 47 66 / 40%);
}


/* #endregion */